@using Microsoft.AspNetCore.Identity
@using StudentCalendar.IRepositories;
@using StudentCalendar.Repositories;
@using StudentCalendar.Models;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IEventRepository _eventRepository 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IdentityApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IdentityApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-md-3 mb-2 mb-md-0">
                <a class="d-inline-flex link-body-emphasis text-decoration-none nav-link px-2" href="#">Hello @UserManager.GetUserName(User)</a>
            </div>
        }
        else
        {
            <div class="col-md-3 mb-2 mb-md-0">
                <a class="d-inline-flex link-body-emphasis text-decoration-none nav-link px-2" href="#">Hello Student!</a>
            </div>
        }


        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <div class="btn-group me-2" role="group" aria-label="First group">
            <li type="button" class="btn btn-primary "><a class="nav-link px-5 text-white" asp-area="" asp-controller="Home" asp-action="Index" class="nav-link px-2">Home</a></li>

            @if (SignInManager.IsSignedIn(User))
            {
                var userId = UserManager.GetUserId(User);
                var user = await UserManager.FindByIdAsync(userId);
                if (user != null)
                {

                    if (user != null)
                    {
                        var idGroup = user.IdGroup;

                        <li type="button" class="btn btn-primary ">
                            <a class="nav-link px-2 text-white" asp-area="" asp-route-idGroup="@idGroup" asp-controller="Lesson" asp-action="Index">View Lessons</a>
                        </li>
                        var a = await _eventRepository.GetlastEvent();
                        if (a != null)
                        {
                            if (user.LoginTime < a.DateCreate)//.AddMinutes(2)) //for Test
                            {
                                <li type="button" class="btn btn-primary ">
                                    <a class="nav-link px-2 text-white" asp-area="" asp-controller="Event" asp-route-userId="@userId" asp-action="CurrentEvents">View Current Events</a>
                                </li>
                            }
                            else
                            {
                                <li type="button" class="btn btn-primary ">
                                    <a class="nav-link px-2 text-white" asp-area="" asp-controller="Event" asp-route-userId="@userId" asp-action="CurrentEvents">View Current Events</a>
                                </li>
                            }


                        }

                        else
                        {
                            <li type="button" class="btn btn-primary ">
                                <a class="nav-link px-2 text-white" asp-area="" asp-controller="Event" asp-route-userId="@userId" asp-action="CurrentEvents">View Current Events</a>
                            </li>
                        }
                    }

                }

                <li type="button" class="btn btn-primary ">
                    <a class="nav-link px-2 text-white" asp-action="UserCalendar" asp-controller="UserInEvent" asp-route-userId="@UserManager.GetUserId(User)">My Calendar</a>
                </li>




                
            }  
            </div>
        </ul>

        @if (!SignInManager.IsSignedIn(User))
        {

            <div class="col-md-3 text-end">
                <a type="button" asp-action="Register" asp-controller="Account" class="btn btn-outline-primary me-2" >Register</a>
                
                <a asp-action="Login" asp-controller="Account" type="button" class="btn btn-outline-primary me-2">Login</a>

                
            </div>
        }
        else
        {
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2" onclick="redirectToLogout()">Logout</button>
                <script>
                    function redirectToLogout() {
                        window.location.href = '/Account/LogOff';
                    }
                </script>                
            </div>
        }

    </header>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
