@using Models
@model IQueryable<Event>


<a class="btn btn-success mb-3 p-3" asp-action="CreateEvent" asp-controller="Event">Create Event</a>



<ul class="list-group">
    <li class="list-group-item list-group-item-action list-group-item-primary ">
        <div class="row justify-content-center">
            <div class="col-md-2">Id</div>
            <div class="col-md-2">Event Name</div>
            <div class="col-md-2">Description</div>
            <div class="col-md-2">Date Time</div>
            <div class="col-md-2">Location</div>
        </div>
    </li>
    @foreach (Event eventInUni in Model)
    {
        <li class="list-group-item">
            <div class="row justify-content-center">
                <div class="col-md-2">@eventInUni.Id</div>
                <div class="col-md-2">@eventInUni.Name</div>
                <div class="col-md-2">@eventInUni.Description</div>
                <div class="col-md-2">@eventInUni.DateTime</div>
                <div class="col-md-2">@eventInUni.Location</div>
            </div>
        </li>
    }
</ul>