@using Microsoft.AspNetCore.Identity;
@using System.Globalization;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model IQueryable<Event>


@{
    var daysInMonth = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
    var userId = UserManager.GetUserId(User);
}
<div class="list-group-item">
    <div class="row flex-nowrap">
        @{
            var currentMounth = DateTime.Now.Month;
            for (int i = currentMounth; i <= 12; i++)
            {
                <div class="col" style="text-align:center;"><a asp-action="UserCalendar" asp-controller="UserInEvent" asp-route-mounth="@i" asp-route-userId="@UserManager.GetUserId(User)">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</a></div>
            }
        }
    </div>
</div>



<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-2">Day</div>
            <div class="col-md-2">Event Name</div>
            <div class="col-md-2">Description</div>
            <div class="col-md-2">Date Time</div>
            <div class="col-md-2">Location</div>
        </div>
    </li>
    
    @for (int day = 1; day <= daysInMonth; day++)
    {
        var dayEvents = Model.Where(x => x.DateTime.Day == day).OrderBy(x=>x.DateTime);
        if (dayEvents.Count() >= 1)
        {
            <li class="list-group-item bg-success">
                    
            @foreach(var dayEvent in dayEvents)
            {
                    <div class="row text-white">
                        <div class="col-md-2">@day</div>
                        <div class="col-md-2">@dayEvent.Name</div>
                        <div class="col-md-2">@dayEvent.Description</div>
                        <div class="col-md-2">@dayEvent.DateTime.TimeOfDay</div>
                        <div class="col-md-2">@dayEvent.Location</div>
                        <div class="col-md-2">
                            <a asp-action="RemoveEventInCalendar" asp-controller="UserInEvent" asp-route-idUser="@userId" asp-route-idEvent="@dayEvent.Id">Remove Event</a>
                        </div>

                    </div>
            }
            </li>
            
        }
        else
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">@day</div>
                    Free Day
                </div>
            </li>
        }
        
    }
</ul>

