@using Microsoft.AspNetCore.Identity;
@using System.Globalization;
@using StudentCalendar.Models;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model IQueryable<Event>


@{
    var daysInMonth = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
    var userId = UserManager.GetUserId(User);
}
<div class="mb-3">
    <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-start mb-md-0">
        <div class="btn-group me-2" role="group" aria-label="First group">
            @{
                var currentMounth = DateTime.Now.Month;
                for (int i = currentMounth; i <= 12; i++)
                {
                <li class="btn btn-warning" style=""><a class="nav-link text-white" asp-action="UserCalendar" asp-controller="UserInEvent" asp-route-mounth="@i" asp-route-userId="@UserManager.GetUserId(User)">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</a></li>
                }
            }
        </div>
    </ul>
</div>



<ul class="list-group">
    <li class="list-group-item list-group-item-action list-group-item-primary ">
        <div class="row ">
            <div class="col-md-2">Day</div>
            <div class="col-md-2">Event Name</div>
            <div class="col-md-2">Description</div>
            <div class="col-md-2">Date Time</div>
            <div class="col-md-2">Location</div>
            <div class="col-md-2">Action</div>
        </div>
    </li>
    
    @for (int day = 1; day <= daysInMonth; day++)
    {
        var dayEvents = Model.Where(x => x.DateTime.Day == day).OrderBy(x=>x.DateTime);
        if (dayEvents.Count() >= 1)
        {            
            
                    
            @foreach(var dayEvent in dayEvents)
            {
                if(dayEvent.DateTime > DateTime.Now)
                {
                    <li class="list-group-item list-group-item-success list-group-item-action">
                        <div class="row text-black">
                            <div class="col-md-2">@day</div>
                            <div class="col-md-2">@dayEvent.Name</div>
                            <div class="col-md-2">@dayEvent.Description</div>
                            <div class="col-md-2">@dayEvent.DateTime.TimeOfDay</div>
                            <div class="col-md-2">@dayEvent.Location</div>
                            <div class="col-md-2">
                                <a class="btn btn-outline-danger" asp-action="RemoveEventInCalendar" asp-controller="UserInEvent" asp-route-idUser="@userId" asp-route-idEvent="@dayEvent.Id">Remove Event</a>
                            </div>

                        </div>
                    </li>
                }
                else{
                    <li class="list-group-item list-group-item-warning ">
                        <div class="row  text-white">
                            <div class="col-md-2">@day</div>
                            <div class="col-md-2">@dayEvent.Name</div>
                            <div class="col-md-2">@dayEvent.Description</div>
                            <div class="col-md-2">@dayEvent.DateTime.TimeOfDay</div>
                            <div class="col-md-2">@dayEvent.Location</div>
                            <div class="col-md-2">
                            </div>

                        </div>
                    </li>
                }
               
                   
            }


        }
        else
        {
            if ((int)ViewData["Mounth"] > DateTime.Now.Date.Month)
            {
                <li class="list-group-item list-group-item-light ">
                    <div class="row ">
                        <div class="col-md-2">@day</div>
                        <div class="col-md-2">Free Day</div>
                    </div>
                </li>
            }
            else
            {
                if (day < DateTime.Now.Date.Day)
                {
                    <li class="list-group-item list-group-item-dark ">
                        <div class="row ">
                            <div class="col-md-2">@day</div>
                            <div class="col-md-2">Free Day</div>

                        </div>
                    </li>
                }
                else
                {
                    <li class="list-group-item list-group-item-light ">
                        <div class="row ">
                            <div class="col-md-2">@day</div>
                            <div class="col-md-2">Free Day</div>
                        </div>
                    </li>
                }
            }

           

        }
        
    }
</ul>

